<h1><%= @registered_application.name %> </h1>
<h3 class="text-muted"><%= @registered_application.url %></h3>
<div>
  <%= button_to 'Un-register App',{controller: 'registered_applications', action: 'destroy', id: @registered_application.id}, method: 'delete' %>
</div>
<%= pie_chart @registered_application.events.order(:name).group(:name).count, legend: {position: "none"} %>
<%= line_chart @registered_application.events.order(:name).group(:name).group_by_day(:created_at).count %>
