<!DOCTYPE html>
<html>
  <head>
    <title>Metrcs</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", welcome_index_path %></li>
        <% if current_user %>
          <li><%= link_to "Registered Applications", user_registered_applications_path(user_id: current_user.id) %></li>
          <li><%= link_to "Sign-Out", destroy_user_session_path, method: :delete %></li>
          <div class="user-indicator">
            <%= link_to current_user.email, edit_user_registration_path %>
            is Signed In
          </div>
        <% else %>
          <li><%= link_to "Sign-In", new_user_session_path %></li>
          <li><%= link_to "Sign-Up", new_user_registration_path %></li>
        <% end %>
      </ul>

      <% if notice %>
        <p class="notice alert-info"><%= notice %></p>
      <% elsif alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
